@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 17% 20%;
    --foreground: 0 0% 98%;
    --card: 235 17% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 235 17% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 44% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 235 17% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 235 17% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 17% 30%;
    --input: 235 17% 30%;
    --ring: 283 44% 53%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 235 17% 20%;
    --foreground: 0 0% 98%;
    --card: 235 17% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 235 17% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 44% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 235 17% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 235 17% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 17% 30%;
    --input: 235 17% 30%;
    --ring: 283 44% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
